body {
  background-color: #fafafa;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.head {
  text-align: center;
  margin-top: 20px;
  border-bottom: 2px solid #8b8b8b;
  padding-bottom: 5px;
  display: inline-block;
  width: 200px;
  margin: 30px auto;
}

button {
  cursor: pointer;
}

.promotion {
  height: 60px;
  background-color: #fff8e2;
  text-align: center;
  padding: 20px;
  font-size: 16px;
  word-spacing: 10px;
  margin-top: 150px;
}
input {
  width: 400px;
  height: 50px;
  border-radius: 10px;
  border: 0;
  box-shadow: inset 0px 5px 8px #a2a2a2;
  margin-top: 20px;
  text-indent: 60px;
}
input:focus {
  outline: none;
}
form {
  text-align: center;
  margin-top: 20px;
  min-height: calc(100vh - 300px);
}
/* placeholder img */
#ac {
  position: relative;
  display: inline-block;
}
form img {
  width: 15px;
  position: absolute;
  left: 30px;
  top: 33%;
}
#pw,
#pw2 {
  position: relative;
  display: inline-block;
}

/* end */

.login {
  width: 150px;
  height: 50px;
  box-shadow: 0 5px 8px #aaaaaa;
  border: 0;
  border-radius: 10px;
  background-color: #fa8873;
  font-size: 16px;
  color: white;
}
.login:focus {
  outline: none;
}

/* rwd */
@media screen and (max-width: 500px) {
  .promotion {
    font-size: 14px;
    margin-top: 100px;
  }
  input {
    width: 300px;
    height: 40px;
  }
  .head {
    margin: 15px auto;
  }
}
